rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUser(data, fieldId) {
      return request.auth != null && data != null && fieldId is string && request.auth.uid == data[fieldId];
    }

    function isUserUID(value) {
      return request.auth != null && value is string && request.auth.uid == value;
    }

    match /users {
      match /{userId}/{anything=**} {
        allow read, write: if isUserUID(userId);
      }
      match /{userId} {
        allow read;
        match /projects {
          match /PZ3Xq0tl3C3JjcWpdfmA {
            allow read;
          }
        }
      }
    }

    match /projects {
      match /{projectId} {
        allow read;
      }
      match /market-store {
        match /posts {
          match /{postId} {
            allow read;
            allow delete, update: if isUser(resource.data, "userId");
          }
        }
        match /requests {
          match /{requestId} {
            allow read: if isUser(resource.data, "payer") || isUser(resource.data, "saller");
            allow create: if isUser(request.resource.data, "payer");
            allow delete, update: if isUser(resource.data, "saller");
          }
        }
      }
      match /PZ3Xq0tl3C3JjcWpdfmA {
        match /{documentId=**} {
          allow read;
        }
      }
      match /cards-shopping {
      	match /codes {
        	allow read: if isUser(request.resource.data, "user");
        }
        match /cards/{anything=**} {
          allow read;
        }
        match /currencies/{anything=**} {
        	allow read;
        }
      }
      match /ea01d9b6-5550-4509-b061-5bc987534b35/messages {
        match /{documentId=**} {
          allow read;
          allow write: if isUser(request.resource.data, "sender");
        }
      }
    }

    match /payouts {
      match /{anything=**} {
        allow read, write;
      }
    }
    
    match /services {
    	match /{anything=**} {
        allow read;
      }
    }

		match /notifications {
    	match /{anything=**} {
        allow read;
      }
    }

    match /{document=**} {
      // allow read, write: if request.auth != null && request.auth.token.email_verified && request.auth.token.email == "ilyestearti5@gmail.com";
    	allow read,write : if true
    }

  }
}
